[Unit]
Requires=coreos-metadata.service
After=coreos-metadata.service

[Service]
EnvironmentFile=/run/metadata/coreos
Environment=RKT_RUN_ARGS="--volume pki,kind=host,source=/etc/kubernetes/pki/etcd/,readOnly=true --mount volume=pki,target=/etc/kubernetes/pki/etcd/" 
ExecStart=
ExecStart=/usr/lib/coreos/etcd-wrapper $ETCD_OPTS \
  --listen-peer-urls="https://$${COREOS_DIGITALOCEAN_IPV4_PUBLIC_0}:2380" \
  --listen-client-urls="https://0.0.0.0:2379" \
  --initial-advertise-peer-urls="https://$${COREOS_DIGITALOCEAN_IPV4_PUBLIC_0}:2380" \
  --advertise-client-urls="https://$${COREOS_DIGITALOCEAN_IPV4_PUBLIC_0}:2379" \
  --discovery="${etcd_discovery_token}" \
  --trusted-ca-file="/etc/kubernetes/pki/etcd/ca.crt" \
  --cert-file="/etc/kubernetes/pki/etcd/server.crt" \
  --key-file="/etc/kubernetes/pki/etcd/server.key" \
  --client-cert-auth=true \
  --peer-client-cert-auth=true \
  --peer-auto-tls=true
